.newsletter__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-richtext.h1.scroll-trigger.animate--slide-in {
  margin: 0;
}
.newsletter-content {
  text-align: left;
}
.newsletter__wrapper > * + .newsletter-form {
  margin-top: 0;
}


.footer__content-top .footer__blocks-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


.footer-block__brand-info .rte p { color: #214850; font-size: 16px; line-height: 24px; }
.footer-block__brand-info .rte { margin-top: 30px; }
.footer-block.grid__item + .footer-block.grid__item { width: 15%; }
.footer-block__heading { color: #214850; font-size: 20px; }
.footer-block__details-content li a { color: #214850; text-transform: capitalize; font-size: 16px !important; line-height: 20px; display: block; }
footer .brand-contact-info { display: flex; align-items: self-start; margin-top: 60px; }
footer .brand-contact-info .contact-info a { color: #214850; text-decoration: none; font-size: 20px; letter-spacing: normal; font-weight: 600; }
footer .brand-contact-info .contact-info a svg { vertical-align: middle; margin-right: 10px; }
footer .brand-contact-info .contact-info + .contact-info { margin-left: 30px; }
.footer-bottom__content { max-width: 1200px; margin: 0 auto; background-color: #C7AA82; border-radius: 60px; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 20px 40px; align-items: center; }
.footer-bottom__content .list-social__item a { padding: 6px; transition : all .3s ease-in; }
footer .site-info p { color: #FFFBF3; font-size: 14px; position: relative;  z-index: 999; }
footer .site-info p a { margin-right: 30px; color: #fff; text-decoration: none; }
.footer-carton img { width: 400px; margin: 0 auto; display: block; margin-top: -245px; }
.footer-block__brand-info { padding-right: 60px; }
.footer-bottom__content .list-social__item a:hover {  transform: translateY(-5px); }

@media (max-width:767.98px){
.footer-block.grid__item+.footer-block.grid__item { width: 33.33%; float: left; padding-right: 16px;}
.footer-bottom__content { text-align: center; justify-content: center; }
}